 <section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container has-text-centered" >  
            <h1 class="title">{{packageIDtext}}</h1>  
        </div>
    </div>
</section>
<section class="section">
    <div class="container has-text-centered">
        <button ng-controller="btnGotoForm" class="button is-primary is-large" (click)="btnGotoForm_onClicked()">กรอกชื่อที่อยู่ ผู้รับ/ผู้ส่ง</button>
    </div>
</section>
<section class="section">
    <div class="container has-text-centered">
        <button ng-controller="btnAddrCheck" class="button is-primary is-large" (click)="btnAddrCheck_onClicked()">ตรวจสอบชื่อที่อยู่ ผู้รับ/ผู้ส่ง</button>
    </div>
</section>