 <section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container has-text-centered">  
        <h1 class="title">Packaging ID: 123456</h1>  
        </div>
    </div>
</section>
<section class="section">
    <div class="container has-text-centered">
        <button class="button is-primary is-large">ลงทะเบียนลูกค้า</button>
    </div>
</section>

<section class="hero is-is-warning">
    <div class="container has-text-centered">  
        <h1 class="title">สถานะ การจัดส่งสินค้า</h1>  
    </div>
</section>
<section class="section">
    <nav class="level">
        <div class="level-item has-text-centered">  
            <button class="button is-primary is-large">กำลังจัดส่ง</button>
        </div>
        <div class="level-item has-text-centered">  
            <button class="button is-primary is-large">ส่งแล้ว</button>
        </div>
    </nav>
</section>